/* App.css */
/* 
#0B0C10 navbar and footer
#1F2833 background color
#C5C6C7 text color
#66FCF1 neon color
#00C6F8 navbar neon
#45A29E article list color
#1F2833 background color
font-family: 'Inconsolata', monospace;
font-family: 'Oswald', sans-serif;
*/

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Inconsolata", monospace;
  background-color: #1f2833;
  color: #c5c6c7;
  min-height: 100vh;
}

/* NAVBAR */
.navbar-brand {
  margin-left: 10px;
}

/* NAVBAR BUTTONS */

.custom-link {
  /* position: relative; */
  /* display: inline-block; */
  /* font-size: 1.5em; */
  letter-spacing: 0.1em;
  color: #c5c6c7;
  text-decoration: none;
  font-family: "Inconsolata", monospace;
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 50px;
  padding: 5px 20px;
  z-index: 1;
  overflow: hidden;
  transition: color 1s, box-shadow 1s;
  /* margin: 0 auto; */
}
.custom-link:hover {
  transition-delay: 0s, 1s;
  color: #c5c6c7;
  box-shadow: 0 0 10px #00c6f8, 0 0 20px #00c6f8, 0 0 40px #00c6f8,
    0 0 80px #00c6f8;
}
@media (max-width: 767.98px) {
  .navbar-expand-md .navbar-text {
    display: none;
  }
}

.home-image-container {
  text-align: center;
}

.home-image-container img {
  max-width: 100%;
}

.home-image-container {
  position: relative;
}

.trailersText {
  font-family: "Oswald", sans-serif;
  margin: 20px;
  font-size: xx-large;
  color: #c5c6c7;
}

.video-overlay {
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 10%;
}

.video-element {
  width: 100%;
  height: auto;
}

.comment-section {
  border: solid 1px;
  border-radius: 10px;
  border-color: #00c6f8;
  padding: 5%;
  margin: 20px 0;
}

.comment-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 16px rgba(0, 0, 0, 0.1);
}

.comment-container .timestamp {
  font-size: 0.8em;
  color: #66fcf1;
}

.comment-container p {
  margin: 5px 0;
  font-size: 1em;
  color: #c5c6c7;
}

.ReviewsPage {
  padding: 20px;
}

.UserInfo {
  flex-grow: 1;
}

.UserArticles {
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: #0b0c10;
  color: #c5c6c7;
  border-radius: 10px;
}

/* FOOTER */
footer {
  display: flex;
  margin-top: auto;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #0b0c10;
  color: #c5c6c7;
  flex-shrink: 0;
}

/* FOOTER */

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: #c5c6c7;
  font-size: 20px;
  margin-left: 15px;
}

.centered-paragraph {
  text-align: center;
  margin: 0;
}

.footer-button {
  position: relative;
  display: inline-block;
  font-size: 1em;
  letter-spacing: 0.1em;
  color: #c5c6c7;
  background-color: #0b0c10;
  border: 1px solid;
  border-radius: 50px;
  padding: 5px 20px;
  z-index: 1;
  overflow: hidden;
  transition: color 1s, box-shadow 1s;
}

.footer-button:hover {
  color: #c5c6c7;
  box-shadow: 0 0 10px #5f7277, 0 0 20px #5f7277, 0 0 40px #5f7277,
    0 0 80px #5f7277;
}

/* LIKE BUTTON */
.like-button {
  position: relative;
  display: inline-block;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  color: #c5c6c7;
  text-decoration: none;
  font-family: "Inconsolata", monospace;
  background-color: #1f2833;
  text-transform: uppercase;
  margin: 20px;
  border: 1px solid;
  border-radius: 50px;
  padding: 5px 20px;
  z-index: 1;
  overflow: hidden;
  transition: color 1s, box-shadow 1s;
}

.like-button:hover {
  color: #c5c6c7;
  box-shadow: 0 0 10px #1edd31, 0 0 20px #1edd31, 0 0 40px #1edd31,
    0 0 80px #1edd31;
}

/* UNLIKE BUTTON */
.unlike-button {
  position: relative;
  display: inline-block;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  color: #c5c6c7;
  text-decoration: none;
  font-family: "Inconsolata", monospace;
  background-color: #1f2833;
  text-transform: uppercase;
  margin: 20px;
  border: 1px solid;
  border-radius: 50px;
  padding: 5px 20px;
  z-index: 1;
  overflow: hidden;
  transition: color 1s, box-shadow 1s;
}

.unlike-button:hover {
  color: #c5c6c7;
  box-shadow: 0 0 10px #f31f1f, 0 0 20px #f31f1f, 0 0 40px #f31f1f,
    0 0 80px #f31f1f;
}

/* DELETE BUTTON */
.delete-button {
  margin-top: 20px;
  /* position: relative; */
  display: inline-block;
  font-size: 1em;
  letter-spacing: 0.1em;
  color: #f31f1f;
  background-color: #1f2833;
  /* text-decoration: none; */
  /* font-family: "Inconsolata", monospace; */
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 50px;
  padding: 5px 20px;
  z-index: 1;
  overflow: hidden;
  transition: color 2s, box-shadow 1s;
}

.delete-button:hover {
  color: #f31f1f;
  box-shadow: 0 0 10px #f31f1f, 0 0 20px #f31f1f, 0 0 40px #f31f1f;
}

/* ARTICLE EDIT BUTTONS */
.articleDetailsButton {
  position: relative;
  display: inline-block;
  font-size: 1em;
  letter-spacing: 0.1em;
  color: #c5c6c7;
  text-decoration: none;
  margin-top: 30px;
  /* font-family: "Inconsolata", monospace; */
  background-color: #1f2833;
  /* text-transform: uppercase; */
  border: 1px solid;
  border-radius: 50px;
  padding: 5px 20px;
  z-index: 1;
  overflow: hidden;
  transition: color 1s, box-shadow 1s;
}

.articleDetailsButton:hover {
  color: #c5c6c7;
  box-shadow: 0 0 10px #00c6f8, 0 0 20px #00c6f8, 0 0 40px #00c6f8,
    0 0 80px #00c6f8;
}
